<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

{% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="{{ site.url }}{{ site.baseurl }}"><img src="{{ '/assets/images/logo-blankon.jpg' | relative_url }}"></a>
        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.github.is_project_page %}
          <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ github_name }}</small></a></p>
        {% endif %}

        {% if site.github.is_user_page %}
          <p class="view"><a href="{{ site.github.owner_url }}">Kunjungi situs utama BlankOn</a></p>
        {% endif %}

          <ul class="download">
            <li class="download"><a href="http://cdimage.blankonlinux.or.id/blankon/">Unduh <strong>BlankOn X Tambora</strong></a></li>
            <li class="download"><a href="">Unduh <strong>Buku Panduan</strong></a></li>
            <li class="download"><a href="http://cdimage-dev.blankonlinux.or.id/blankon/">Unduh <strong>Jahitan Harian</strong></a></li>
          </ul>
        <h3>Tim Pengembang</h3>
        <ul>
        <li><a href="{{ site.url }}{{ site.baseurl }}/TimPengembang/Humas/">Humas <small>{{ github_name }}</small></a></li>
        <li><a href="{{ site.url }}{{ site.baseurl }}/TimPengembang/Infrastruktur/">Infrastruktur <small>{{ github_name }}</small></a></li>
        <li><a href="{{ site.url }}{{ site.baseurl }}/TimPengembang/Riset/">Riset <small>{{ github_name }}</small></a></li>
        <li><a href="{{ site.url }}{{ site.baseurl }}/TimPengembang/Dokumentasi/">Dokumentasi <small>{{ github_name }}</small></a></li>
        <li><a href="{{ site.url }}{{ site.baseurl }}/TimPengembang/Pemaket/">Pemaket <small>{{ github_name }}</small></a></li>
        <li><a href="{{ site.url }}{{ site.baseurl }}/TimPengembang/Kesenian/">Kesenian <small>{{ github_name }}</small></a></li>
        <li><a href="{{ site.url }}{{ site.baseurl }}/TimPengembang/JaminanKualitas/">Jaminan Kualitas <small>{{ github_name }}</small></a></li>
        </ul>
        <h3>Wiki</h3>
        <ul>
          <li><a href="{{ site.url }}{{ site.baseurl }}/Indeks.html">Daftar Isi <small>{{ github_name }}</small></a></li>
          <li><a href="{{ site.url }}{{ site.baseurl }}">Peta pranala <small>{{ github_name }}</small></a></li>
        </ul>
      </header>
      <section>

      {{ content }}

	<div>
	   <p>Konten ini adalah sumber terbuka. <br />
	   <a href="https://github.com/blankon/wiki/edit/master/{{ page.path }}" title="Bantu perbaiki artikel ini {{ page.path }}">Edit</a>.</p>
	   <p>Fajar baru perangkat lunak legal dan kreatif, untuk, dan oleh anak negeri</p>
	</div>

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>Wiki ini dikelola oleh <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>


  {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
  {% endif %}
  </body>
</html>
